<nav>
    <div class="UserInnerNav">
        <div class="logo">MENTKNOW</div>
        <% if(currentUser) {%>
            <div><img class="profileImage" src="/profile.jpg" /></div>
        <% } %>
        
       
    </div>      
</nav>