<nav>
    <div class="UserInnerNav">
        <div class="logo">MENTKNOW</div>
        <div class="profile-container">
            <% if(currentUser) {%>
                <div><img class="profileImage" src="/profile.jpg" /></div>
                <div class="dropdown-content" id="dropdownContent">
                    <a onclick="location.href='/logout';">Logout</a>
                </div>
            <% } %>
           
        </div>
    </div>
</nav>