<Section class="MenteeView">
    <div class="Tablist">
        <div class="UserTab" id="MenteeTabID"><span class="menuIcons"><i class="fa-solid fa-list"></i></span>Overview</div>
        <div class="UserTab"><span class="menuIcons"><i class="fa-solid fa-bullhorn"></i></span>Annoucement</div>
        <div class="UserTab" id="lessons"><span class="menuIcons"><i class="fa-solid fa-folder-open"></i></span>Lessons<i id="dropdown" class="fa-solid fa-arrow-down"></i></div>
        <div  id="lessonList">
            
            <div class="UserTab" onclick="location.href='/LessonPage/lesson1';" >Lesson 1:  Goal Setting</div>
            <div class="UserTab" onclick="location.href='/LessonPage/lesson2';" >Lesson 2:  Time Management</div>
            <div class="UserTab" onclick="location.href='/LessonPage/lesson3';" >Lesson 3:  Study Skills</div>
            <div class="UserTab" onclick="location.href='/LessonPage/lesson4';" >Lesson 4:  Career Palnning</div>
            <div class="UserTab" onclick="location.href='/LessonPage/lesson5';" >Lesson 5:  Managing Health</div>
            <div class="UserTab" onclick="location.href='/LessonPage/lesson6';" >Lesson 6:  Managing Money</div>
            <div class="UserTab" onclick="location.href='/LessonPage/lesson7';" >Lesson 7:  Exam Preparation</div>
            <div class="UserTab" onclick="location.href='/LessonPage/lesson8';" >Lesson 8:  Managing stress</div>
            <div class="UserTab" onclick="location.href='/LessonPage/lesson9';" >Lesson 9:  Leadership Skills</div>
            <div class="UserTab" onclick="location.href='/LessonPage/lesson10';" >Lesson 10: Avoiding Procrastination</div>  
        </div>
        <div class="UserTab" onclick="location.href='/SectionInfo/MentorshipSession';" ><span class="menuIcons"><i class="fa-solid fa-comment"></i></span>Chatroom</div>
        <div class="UserTab"  onclick="location.href='/SectionInfo/MentorshipSession';"><span class="menuIcons"><i class="fa-solid fa-user"></i></span></i>Section Info</div>
        <%# if (currentUser.Role==='Coordinator'){%>
            <div class="UserTab" ><span class="menuIcons"><i class="fa-solid fa-chalkboard"></i></span>View WhiteBoards</div>
            <div class="UserTab" onclick="location.href='/LessonPage/content';" ><span class="menuIcons"><i class="fa-solid fa-file"></i></span>Report</div>
            <div class="UserTab" onclick="location.href='/Analysis';"><span class="menuIcons"><i class="fa-solid fa-chart-line"></i></span>Analytics</div>
       
        <%# }else if (currentUser.Role==='Student'){%>
            <!-- <div class="UserTab" ><span class="menuIcons"><i class="fa-solid fa-chalkboard"></i></span>View WhiteBoards</div> -->
            <!-- <div class="UserTab" ><span class="menuIcons"><i class="fa-solid fa-file"></i></span>Report</div>
            <div class="UserTab" ><span class="menuIcons"><i class="fa-solid fa-chart-line"></i></span>Analytics</div> -->
        <%#} else if (currentUser.Role==='Mentor'){%>
            <!-- <div class="UserTab" ><span class="menuIcons"><i class="fa-solid fa-chalkboard"></i></span>View WhiteBoards</div> -->
            <!-- <div class="UserTab" ><span class="menuIcons"><i class="fa-solid fa-file"></i></span>Report</div> -->
            <!-- <div class="UserTab" ><span class="menuIcons"><i class="fa-solid fa-chart-line"></i></span>Analytics</div> -->
       <%# }%>
        
        <%#=currentUser._id%>
        <%#=currentUser.Surname%>
        <%#=currentUser.StudentID%>
        <%#=currentUser.Email%>
        
         
    </div>
</Section>