<Section class="MenteeView">
    <div class="Tablist">
        <div class="UserTab" id="MenteeTabID"><span class="menuIcons"><i class="fa-solid fa-list"></i></span>Overview</div>
        <div class="UserTab"><span class="menuIcons"><i class="fa-solid fa-bullhorn"></i></span>Annoucement</div>
        <div class="UserTab" id="lessons"><span class="menuIcons"><i class="fa-solid fa-folder-open"></i></span>Lessons<i id="dropdown" class="fa-solid fa-arrow-down"></i></div>
        <div  id="lessonList">
            <div class="UserTab">Lesson 1:  Goal Setting</div>
            <div class="UserTab">Lesson 2:  Time Management</div>
            <div class="UserTab">Lesson 3:  Study Skills</div>
            <div class="UserTab">Lesson 4:  Career Palnning</div>
            <div class="UserTab">Lesson 5:  Managing Health</div>
            <div class="UserTab">Lesson 6:  Managing Money</div>
            <div class="UserTab">Lesson 7:  Exam Preparation</div>
            <div class="UserTab">Lesson 8:  Managing stress</div>
            <div class="UserTab">Lesson 9:  Leadership Skills</div>
            <div class="UserTab">Lesson 10: Avoiding Procrastination</div>  
        </div>
        <div class="UserTab" ><span class="menuIcons"><i class="fa-solid fa-comment"></i></span>Chatroom</div>
        <div class="UserTab" ><span class="menuIcons"><i class="fa-solid fa-user"></i></span></i>Section Info</div>
        <div class="UserTab" ><span class="menuIcons"><i class="fa-solid fa-chalkboard"></i></span>View WhiteBoards</div>
        <div class="UserTab" ><span class="menuIcons"><i class="fa-solid fa-file"></i></span>Report</div>
        <div class="UserTab" ><span class="menuIcons"><i class="fa-solid fa-chart-line"></i></span>Analytics</div>
                
    </div>
</Section>