
<% layout('./layouts/boilerplate')%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<link rel="stylesheet" href="BackgroundImages.css">
<Section class="Homepage">
    <div class="homepageTitle">WELCOME TO MENTORSHIP KNOWLEDGE</div>
    <div class="Description">
        <p class="DescriptionText">Welcome to mentorship programme for first year students. A transition from hight school to university is one 
            of the hardest things for most students.The university stuff understanding the difficulties first year students face, 
            they started a mentorship programme. Where students who are senior students, mentor those in their first year.</p>
        <div class="LogSignButtons">
            <a href="/LogIn"><button class="loginButton">Log in</button></a>
            <a href="SignUp"><button class="SignButton">Sign Up</button></a>
        </div>
    </div>

</Section>


