<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    
    <nav>
        <div class="logo">MENTKNOW</div>
    </nav>

    <main>
        <Section class="Homepage">
            <div class="homepageTitle">WELCOME TO MENTORSHIP KNOWLEDGE</div>
            <div class="Description">
                <p class="DescriptionText">Welcome to mentorship programme for first year students. A transition from hight school to university is one 
                    of the hardest things for most students.The university stuff understanding the difficulties first year students face, 
                    they started a mentorship programme. Where students who are senior students, mentor those in their first year.</p>
                <div class="LogSignButtons">
                    <a href="/LogIn"><button class="loginButton">Log in</button></a>
                    <a href="SignUp"><button class="SignButton">Sign Up</button></a>
                </div>
            </div>

        </Section>

    </main>
    <script src="Server.js">

    </script>
    <script src="CollaspseMenu.js"></script>
</body>
</html>