
<% layout('./layouts/boilerplate')%>
<section class="OverviewLessonSections">
<%- include('./partials/Overview')%>

<section id="page7" class="LessonPageSectionFlex">
    <div class="lessonPageSection">
        
        <h2>Lesson 7:  Exam Preparation</h2>
        <div class="DisplayFlex">
            <div class="DescriptionAndVideo">
            <p class="LessonDescription">
             Welcome to Week 7 of our academic journey! We've covered everything from coffee addiction 
            to time-traveling through effective time management. Now, it's time to tackle a topic that's 
            as important as knowing where to find the best student discounts in town - Managing Money!

            As a University of Cape Town first-year student, you're not just here for an education; 
            you're also learning the fine art of balancing your budget while discovering the city's best cheap eats. 
            So, grab your piggy bank (or smartphone banking app) as we venture into the world of financial wisdom.
            
            During this session, we'll explore various aspects of managing money, from budgeting to investing. 
            But before we get into the nitty-gritty, let's kick things off with a video that'll have you saying, 
            "I wish I knew this when I got my first allowance."
            </p>
        <div  class="watchVideo">
            
            <iframe id="myIFrame" width="560" height="315" src="https://www.youtube.com/embed/AYR-RuGwJbM" title="The Pomodoro Technique | Study And Productivity Technique (animated) | Better Than Yesterday" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>

            </iframe>
        </div>
        </div>



        <div  class="chatApplication">
                <div>
                    <h2>Join ChatRoom</h2>
                    <br>
                    <button class="JoinButton" id="button2">Join Chat</button>
                </div>
                
            </div>
            
            <div class ="chatSection"> 
                <div class="ChatNavBar">
                    
                    
                    <div class="chatRoomTitle" >ChatRoom </div>
                    <button class="ExitButton" id="ClickExit" >Exit</button>
                </div>
                <div class="messages">
                </div>
                <div class="TextandSend">
                    <!-- <textarea name="UserTextArea" id="Message" cols="30" rows="10"></textarea> -->
                    <input type="text" id="message-input">
                    <button class="SendButton" >Send</button>
            
                </div>
            
            </div>
                
            
            
            
        
        </div>
        <br>
        <h2 >Resources: Exam Preparation</h2>
        <p>Please find below resources for this weeks lesson</p>
        <a id="pdFile" href="https://www.wlv.ac.uk/lib/media/departments/lis/skills/study-guides/LS005---Guide-to-Exam-Preparation.pdf" target="_blank">Exam_Preparation.pdf</a>
        <br>
        <br>
        <h2>Whiteboard: Exam Preparation</h2>
        
        <p>Please add your thoughts to this weeks whiteboard</p>
        
            <div class="whiteboardApi" style="width: 1200px; height: 700px;" id="wt-container"></div>
        
            <script src="https://www.whiteboard.team/dist/api.js"></script>
            <script type="text/javascript">
                var wt = new api.WhiteboardTeam('#wt-container', {
                    clientId: '8fa29ad3d03237f44d2d90b45716eb33',
                    boardCode: 'mentknow_examprep',
                    participant: {name:"<%=currentUser.username%>"}
                });
            </script>
    </div>
</Section>
</section>
<script src="/socket.io/socket.io.js"></script>

<script src="/javascripts/CollaspseMenu.js"></script>
<script src="/javascripts/Metrics.js"></script>
<script> 
    const UserName = <%- JSON.stringify(currentUser.Name) %>
</script>
<script src="/javascripts/ChatROOM.js"></script>