
<% layout('./layouts/boilerplate')%>
<section class="OverviewLessonSections">
<%- include('./partials/Overview')%>

<section id="page9" class="LessonPageSectionFlex">
    <div class="lessonPageSection">
        <h1>Time starts now: <span id="time"></span></h1>
        <h2>Lesson 9:  Leadership Skills</h2>
        <p> Welcome to Week 9 of our academic odyssey! By now, you've learned how to budget, manage your time, and even deal with stress like a champ. Now, it's time to embark on a new journey and discover the world of Leadership Skills!

            As a first-year student at the University of Cape Town, you're not just here to attend classes and study. You're here to shape your future and make a positive impact on the world around you. Leadership skills are the compass that can guide you in that direction.
            
            During this session, we'll explore various aspects of leadership, from effective communication to teamwork and decision-making. But before we dive in, let's kick things off with a video that shows how leadership can be as inspiring as it is entertaining.
            
            
        </p>
        <div  class="watchVideo">
            
            <iframe id="myIFrame" width="560" height="315" src="https://www.youtube.com/embed/eXDNkwIeOqA" title="Simon Sinek’s guide to leadership | MotivationArk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>

            </iframe>
        </div>
        <br>
        <h2 >Resources: Leadership Skills</h2>
        <p>Please find below resources for this weeks lesson</p>
        <a id="pdFile" href="https://www.getselfhelp.co.uk/docs/SMARTgoals.pdf " target="_blank">Goal_Setting.pdf</a>
        <br>
        <br>
        <h2>Whiteboard: Leadership Skills</h2>
        
        <p>Please add your thoughts to this weeks whiteboard</p>
        
            <div class="whiteboardApi" style="width: 1200px; height: 700px;" id="wt-container"></div>
        
            <script src="https://www.whiteboard.team/dist/api.js"></script>
            <script type="text/javascript">
                var wt = new api.WhiteboardTeam('#wt-container', {
                    clientId: '8fa29ad3d03237f44d2d90b45716eb33',
                    boardCode: 'mentknow_leadershipskills',
                    participant: {name:"<%=currentUser.username%>"}
                });
            </script>
    </div>
</Section>
</section>
<script src="/javascripts/CollaspseMenu.js"></script>
<script src="/javascripts/Metrics.js"></script>


