
<% layout('./layouts/boilerplate')%>
<section class="OverviewLessonSections">
<%- include('./partials/Overview')%>

<section id="page5" class="LessonPageSectionFlex">
    <div class="lessonPageSection">
        <h1>Time starts now: <span id="time"></span></h1>
        <h2>Lesson 5: Mental Health</h2>
        <p> Wooopy! Congratulations for making it to week 5. It's good to have you back. In today's session we will
            be looking at mental health. Mental health is the crucial aspect of overall health and well-being.
            It is important to prioritise mental health and and to address mental health issues via education.

            Watch the video below, go through the pdf and share your thoughts. 
        </p>
        <div  class="watchVideo">
            
            <iframe id="myIFrame" width="560" height="315" src="https://www.youtube.com/embed/D4UKd1iOUeo" title="Exercise Makes You Smarter - This Is Why (animated)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
        </div>
        <br>
        <h2 >Resources: Mental Health</h2>
        <p>Please find below resources for this weeks lesson</p>
        <a id="pdFile" href="https://www.un.org/en/healthy-workforce/files/Understanding%20Mental%20Health.pdf" target="_blank">Mental_Health.pdf</a>
        <br>
        <br>
        <h2>Whiteboard: Mental Health</h2>

        
        <p>Please add your thoughts to this weeks whiteboard</p>
        
            <div class="whiteboardApi" style="width: 1200px; height: 700px;" id="wt-container"></div>
        
            <script src="https://www.whiteboard.team/dist/api.js"></script>
            <script type="text/javascript">
                var wt = new api.WhiteboardTeam('#wt-container', {
                    clientId: '8fa29ad3d03237f44d2d90b45716eb33',
                    boardCode: 'mentknow_managinghealth',
                    participant: {name:"<%=currentUser.username%>"}
                });
            </script>
    </div>
</Section>
</section>
<script src="/javascripts/CollaspseMenu.js"></script>
<script src="/javascripts/Metrics.js"></script>


