
<% layout('./layouts/boilerplate')%>
<section class="OverviewLessonSections">
<%- include('./partials/Overview')%>

<section id="page5" class="LessonPageSectionFlex">
    <div class="lessonPageSection">
        <h1>Time starts now: <span id="time"></span></h1>
        <h2>Lesson 5:  Managing Health</h2>
        <p> Welcome to the fifth week of our course, where we're about to tackle a subject as elusive as that Wi-Fi connection in the library basement—managing your health! As a student, balancing textbooks, assignments, and, let's be honest, the occasional late-night snack attack can be quite the juggling act. But fear not, because during this session, we're diving into various aspects of managing your health. Students are encouraged to watch the following video and respond to the questions provided afterward. 
        </p>
        <div  class="watchVideo">
            
            <iframe id="myIFrame" width="560" height="315" src="https://www.youtube.com/embed/D4UKd1iOUeo" title="Exercise Makes You Smarter - This Is Why (animated)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>

            </iframe>
        </div>
        <br>
        <h2 >Resources: Managing Health</h2>
        <p>Please find below resources for this weeks lesson</p>
        <a id="pdFile" href="https://www.getselfhelp.co.uk/docs/SMARTgoals.pdf " target="_blank">Goal_Setting.pdf</a>
        <br>
        <br>
        <h2>Whiteboard: Managing Health</h2>
        
        <p>Please add your thoughts to this weeks whiteboard</p>
        
            <div class="whiteboardApi" style="width: 1200px; height: 700px;" id="wt-container"></div>
        
            <script src="https://www.whiteboard.team/dist/api.js"></script>
            <script type="text/javascript">
                var wt = new api.WhiteboardTeam('#wt-container', {
                    clientId: '8fa29ad3d03237f44d2d90b45716eb33',
                    boardCode: 'mentknow_managinghealth',
                    participant: {name:"<%=currentUser.username%>"}
                });
            </script>
    </div>
</Section>
</section>
<script src="/javascripts/CollaspseMenu.js"></script>
<script src="/javascripts/Metrics.js"></script>


