
<% layout('./layouts/boilerplate')%>
<section class="OverviewLessonSections">
<%- include('./partials/Overview')%>

<section id="page8" class="LessonPageSectionFlex">
    <div class="lessonPageSection">
        <h1>Time starts now: <span id="time"></span></h1>
        <h2>Lesson 8: Managing Stress</h2>
        <p> The eighth week of our lesson we are going to talk about stress management.
            The Student has do video the following video and answer the questions that follow.
        </p>
        <div  class="watchVideo">
            
            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/FFT6uP1fIFI" title="Setting Goals" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
            <iframe id="myIFrame" width="560" height="315" src="https://youtu.be/h2zWopNUUJE" title="Setting SMART Goals - How To Properly Set a Goal (animated)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>

            </iframe>
        </div>
        <br>
        <h2 >Resources: Stress Management/h2>
        <p>Please find below resources for this weeks lesson</p>
        <a id="pdFile" href="https://barriefht.ca/wp-content/uploads/2019/10/4.-Top-10-Stress-Management-Techniques.pdf" target="_blank">Stress_Management.pdf</a>
        <br>
        <br>
        <h2>Whiteboard: Stress Management</h2>
        
        <p>Please add your thoughts to this weeks whiteboard</p>
        
            <div class="whiteboardApi" style="width: 1200px; height: 700px;" id="wt-container"></div>
        
            <script src="https://www.whiteboard.team/dist/api.js"></script>
            <script type="text/javascript">
                var wt = new api.WhiteboardTeam('#wt-container', {
                    clientId: '8fa29ad3d03237f44d2d90b45716eb33',
                    boardCode: 'testmentknow123',
                    participant: {name:"<%=currentUser.username%>"}
                });
            </script>
    </div>
</Section>
</section>
<script src="/javascripts/CollaspseMenu.js"></script>
<script src="/javascripts/Metrics.js"></script>


