
<% layout('./layouts/boilerplate')%>
<section class="OverviewLessonSections">
<%- include('./partials/Overview')%>

<section id="page8" class="LessonPageSectionFlex">
    <div class="lessonPageSection">
        <h1>Time starts now: <span id="time"></span></h1>
        <h2>Lesson 8: Managing stress</h2>
        <p> Hello, resilient scholars! It's Week 8, and you've made it this far in our academic adventure. 
            Now, it's time to tackle a topic that every student, no matter where they are in the world, 
            needs to master: Managing Stress!

            As a University of Cape Town first-year student, you've probably already faced a few academic 
            challenges, but don't worry, we're here to help you navigate the waves of stress that can come 
            with university life. So, take a deep breath, and let's explore how to keep your cool amidst the chaos.
            
            During this session, we'll dive into various stress management techniques and strategies. 
            But before we get started, let's lighten the mood with a video that'll remind you that even the most 
            stressful moments can be turned into funny stories later on.
        </p>
        <div  class="watchVideo">
            
            <iframe id="myIFrame" width="560" height="315" src="https://www.youtube.com/embed/Nz9eAaXRzGg" title="How to protect your brain from stress | Niki Korteweg | TEDxAmsterdamWomen" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>

            </iframe>
        </div>
        <br>
        <h2 >Resources: Managing stress</h2>
        <p>Please find below resources for this weeks lesson</p>
        <a id="pdFile" href="https://barriefht.ca/wp-content/uploads/2019/10/4.-Top-10-Stress-Management-Techniques.pdf" target="_blank">Stress_Management.pdf</a>
        <br>
        <br>
        <h2>Whiteboard: Managing stress</h2>
        
        <p>Please add your thoughts to this weeks whiteboard</p>
        
            <div class="whiteboardApi" style="width: 1200px; height: 700px;" id="wt-container"></div>
        
            <script src="https://www.whiteboard.team/dist/api.js"></script>
            <script type="text/javascript">
                var wt = new api.WhiteboardTeam('#wt-container', {
                    clientId: '8fa29ad3d03237f44d2d90b45716eb33',
                    boardCode: 'mentknow_managingstress',
                    participant: {name:"<%=currentUser.username%>"}
                });
            </script>
    </div>
</Section>
</section>
<script src="/javascripts/CollaspseMenu.js"></script>
<script src="/javascripts/Metrics.js"></script>


