
<% layout('./layouts/boilerplate')%>
<section class="OverviewLessonSections">
<%- include('./partials/Overview')%>

<section id="page9" class="LessonPageSectionFlex">
    <div class="lessonPageSection">
        
        <h2>Lesson 9:  Leadership Skills</h2>
        <div class="DisplayFlex">
            <div class="DescriptionAndVideo">
            <p class="LessonDescription">
            Welcome to Week 9 of our academic odyssey! By now, you've learned how to budget, 
            manage your time, and even deal with stress like a champ. Now, it's time to embark 
            on a new journey and discover the world of Leadership Skills!

            As a first-year student at the University of Cape Town, you're not just here to attend 
            classes and study. You're here to shape your future and make a positive impact on the world 
            around you. Leadership skills are the compass that can guide you in that direction.
            
            During this session, we'll explore various aspects of leadership, from effective 
            communication to teamwork and decision-making. But before we dive in, let's kick things off 
            with a video that shows how leadership can be as inspiring as it is entertaining.
            
            
        </p>
        <div  class="watchVideo">
            
            <iframe id="myIFrame" width="560" height="315" src="https://www.youtube.com/embed/eXDNkwIeOqA" title="Simon Sinek’s guide to leadership | MotivationArk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>

            </iframe>
        </div>
        </div>

            <div  class="chatApplication">
                <div>
                    <h2>Join ChatRoom</h2>
                    <br>
                    <button class="JoinButton" id="button2">Join Chat</button>
                </div>
                
            </div>
            
            <div class ="chatSection"> 
                <div class="ChatNavBar">
                    
                    
                    <div class="chatRoomTitle" >ChatRoom </div>
                    <button class="ExitButton" id="ClickExit" >Exit</button>
                </div>
                <div class="messages">
                </div>
                <div class="TextandSend">
                    <!-- <textarea name="UserTextArea" id="Message" cols="30" rows="10"></textarea> -->
                    <input type="text" id="message-input">
                    <button class="SendButton" >Send</button>
            
                </div>
            
            </div>
                
            
            
            
        
        </div>
        
        <br>
        <h2 >Resources: Leadership Skills</h2>
        <p>Please find below resources for this weeks lesson</p>
        <a id="pdFile" href="https://www.ndi.org/sites/default/files/Handout%204%20-%20Developing%20Leadership%20Skills.pdf" target="_blank">Leadership_Skills.pdf</a>
        <br>
        <br>
        <h2>Whiteboard: Leadership Skills</h2>
        
        <p>Please add your thoughts to this weeks whiteboard</p>
        
            <div class="whiteboardApi" style="width: 1200px; height: 700px;" id="wt-container"></div>
        
            <script src="https://www.whiteboard.team/dist/api.js"></script>
            <script type="text/javascript">
                var wt = new api.WhiteboardTeam('#wt-container', {
                    clientId: '8fa29ad3d03237f44d2d90b45716eb33',
                    boardCode: 'mentknow_leadershipskills',
                    participant: {name:"<%=currentUser.username%>"}
                });
            </script>
    </div>
</Section>
</section>

<script src="/socket.io/socket.io.js"></script>

<script src="/javascripts/CollaspseMenu.js"></script>
<script src="/javascripts/Metrics.js"></script>
<script> 
    const UserName = <%- JSON.stringify(currentUser.Name) %>
</script>
<script src="/javascripts/ChatROOM.js"></script>