<% layout('./layouts/boilerplate')%>
        
<Section class="LogInSection">
            
    <form action="/UserSection" method="POST">
        <div class="LogInDetails">
            <label  id="LogInLabel">Log In</label>
            <input class="Userdetails" type="text" placeholder="Staff /Student ID" name="staffID" id="Mentor ID">
            <input class="Userdetails" type="password" placeholder="Password" name="Password" id="password">
            <button id="button2">Log In</button>
        </div>
    </form>
</Section>