<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentee Page</title>
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>
    
    <nav>
        <div class="UserInnerNav">
            <div class="logo">MENTKNOW</div>
            <div><img class="profileImage" src="profile.jpg" /></div>
            <!-- <div><img class="profileImage" src="https://i.pravatar.cc/75" /></div> -->
        </div>      
    </nav>

    <main>
        <Section class="MenteeView">
            <div class="Tablist">
                <div class="UserTab" id="MenteeTabID">Overview</div>
                <div class="UserTab">Annoucement</div>
                <div class="UserTab" onclick="location.href='/LessonPage/<%=StudentID%>';" >Week 1</div>
                <div class="UserTab" >Week 2 <span class="tooltiptext">The lessons are not available</span></div>
                <div class="UserTab" >Week 3 <span class="tooltiptext">The lessons are not available</span></div>
                <div class="UserTab" >Week 4 <span class="tooltiptext">The lessons are not available</span></div>
                <div class="UserTab" >Week 5 <span class="tooltiptext">The lessons are not available</span></div>
                <div class="UserTab" >Week 6 <span class="tooltiptext">The lessons are not available</span></div>
                <div class="UserTab" >Week 7 <span class="tooltiptext">The lessons are not available</span></div>
                <div class="UserTab" >Week 8 <span class="tooltiptext">The lessons are not available</span></div>
                <div class="UserTab" >Chatroom</div>
                <div class="UserTab" >Section Info</div>
                <div class="UserTab" >View WhiteBoard</div>
                
            </div>
        </Section>

    </main>
</body>
</html>