<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    
    <nav>
        <div class="UserInnerNav">
            <div class="logo">MENTKNOW</div>
            <div><img class="profileImage" src="profile.jpg" /></div>
            <!-- <div><img class="profileImage" src="https://i.pravatar.cc/75" /></div> -->
        </div>      
    </nav>

    <main>
        <Section class="MenteeView">
            <div class="Tablist">
                <div class="UserTab" id="MenteeTabID">Overview</div>
                <div class="UserTab">Annoucement</div>
                <div class="UserTab">Week 1</div>
                <div class="UserTab">Week 2</div>
                <div class="UserTab">Week 3</div>
                <div class="UserTab">Week 4</div>
                <div class="UserTab">Week 5</div>
                <div class="UserTab">Week 6</div>
                <div class="UserTab">Week 7</div>
                <div class="UserTab">Week 8</div>
                <div class="UserTab">Chatroom</div>
                <div class="UserTab">Section Info</div>
                <div class="UserTab">View WhiteBoard</div>
            </div>
            <div class="lessonPageSection">
                <h2>Quiz: Goal Setting</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias 
                    exercitationem quos impedit odio obcaecati explicabo nesciunt recusandae consectetur 
                    doloribus quo blanditiis voluptas velit, cupiditate at vitae, ad iusto, hic delectus
                </p>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfrHgWLd0RuAGdYSlEqySB52Hfd-npME4ZqmmlZhHt6l06c3A/viewform?embedded=true" width="640" height="1738" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
        </Section>

    </main>
</body>
</html>