<% layout('./layouts/boilerplate')%>
<link rel="stylesheet" href="/javascripts/Style2.css">
<section class="OverviewLessonSections">
<%- include('./partials/Overview')%>

<div class="MentorshipSession">
    <h4>The student will have to sign up for a session with the mentor</h4>

<table id="MentorSession">
  <tr>
    <th>Sessions</th>
    <th>Mentor Name</th>
    <th>Day</th>
    <th>Time</th>
    <th>Location</th>
    <th>Avail</th>
    <th>Choose</th>
  </tr>
  <tr>
    <td>Mentor Group 1</td>
    <td>Nokwanda</td>
    <td>Monday</td>
    <td>10:00 - 11:00</td>
    <td>CSC2A</td>
    <td>0</td>
    <td>Full</td>
  </tr>
  <tr>
    <td>Mentor Group 2</td>
    <td>James</td>
    <td>Tuesday</td>
    <td>14:00 - 15:00</td>
    <td>CSC2A</td>
    <td>4</td>
    <td><a class="JoinLink" href="">Join</a> </td>
  </tr>
  <tr>
    <td>Mentor Group 3</td>
    <td>Luke</td>
    <td>Wednesday</td>
    <td>10:00 - 11:00</td>
    <td>CSC2A</td>
    <td>1</td>
    <td><a class="JoinLink3" href="">Join</a> </td>
  </tr>
  <tr>
    <td>Mentor Group 4</td>
    <td>Brian</td>
    <td>Thursday</td>
    <td>13:00 - 14:00</td>
    <td>CSC2A</td>
    <td>1</td>
    <td><a class="JoinLink2" href="">Join</a> </td>
  </tr>
  
  
 
</table>


</div>

</section>

<script src="/javascripts/CollaspseMenu.js"></script>