<% layout('./layouts/boilerplate')%>

<Section class="SigupSection">
    
    <form action="/Register" method="POST">
        <div class="SignUpdetails">
            <label  id="SignUpLabel">SignUp</label>
            <input class="Userdetails" type="text" placeholder="Username" id="name" name="username" required>
            <input class="Userdetails" type="text" placeholder="Surname" id="Surname" name="Surname" required>
            <input class="Userdetails" type="text" placeholder="Student ID" id="Student ID" name="StudentID" required>
            <input class="Userdetails" type="text" placeholder="Email" id="Email" name="Email" required>
            <input class="Userdetails" type="password" placeholder="Create New Password" id="password" name="password" required>
           
            <a href="">Add profile picture</a>
            <button id="SignUpbutton2">Sign Up</button>
        </div>
    </form>
</Section>



