<% layout('./layouts/boilerplate')%>

<Section class="SigupSection">
    
    <form action="/Register" method="POST">
        <div class="SignUpdetails">
            <label  id="SignUpLabel">SignUp</label>
            <input class="Userdetails" type="text" placeholder="Name" id="Name" name="Name" required>
            <input class="Userdetails" type="text" placeholder="Username" id="username" name="username" required>
            <input class="Userdetails" type="text" placeholder="Surname" id="Surname" name="Surname" required>
            
            <input class="Userdetails" type="text" placeholder="Email" id="Email" name="Email" required>
            <input class="Userdetails" type="password" placeholder="Create Password" id="password" name="password" required>
            <input class="Userdetails" type="password" placeholder="ConfirmPassword" id="ConfirmPassword" name="ConfirmPassword" required>
           
            <!-- <a href="">Add profile picture</a> -->
            <button id="SignUpbutton2">Sign Up</button>
        </div>
    </form>
</Section>



