<% layout('./layouts/boilerplate')%>
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous"> -->
<section class="OverviewLessonSections">
<%- include('./partials/Overview')%>

    <div class="OverviewDeatils" >
        <!-- <%#- include('./partials/flash')%> -->
        <h1>Welcome to the University of Cape Town</h1>
        <br>
        <div class="OverviewImage">
            <img src="/Overview.jpeg" height="400px" alt="">
        </div>
        <br>
        <div class="OverviewDescription">
            <p>This programme is meant for all science first-year students.
                 This is a safe space, be sure to make use of the mentors and 
                 the material available for a better university experience
            
            Should you need assistance do not hesitate to email your mentors 
                or the coordinator using the email addresses below:
            </p>
            <br>
            <br>
            <p><strong>Mentor(s):</strong> </p>
            <br>
            <p> Nokwanda Sibiya - <span>SBYNOK009@myuct.ac.za</span> </p>
            <p> Qaahir Arnold   - <span>ARNMOG14@myuct.ac.za</span>  </p>
            <p> Kwena Komape    - <span>KMPKWE002@myuct.ac.za</span>  </p>
            <br>
            <br>
            <p><strong>Coordinator:</strong> </p>
            <p> Gary Stewart  - <span>GSTEWART@myuct.ac.za</span>  </p>
            <br>
            <p></p>
        </div>
    </div>



</section>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
<script src="/javascripts/CollaspseMenu.js"></script>
