body{
    
    /* background-image: url("/photos/priscilla-du-preez-XkKCui44iM0-unsplash.jpg"); */
    /* height: 100%; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-position: center; 
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5); 
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
    /* color: black; */
    /* color: white; */
}

.Footer{
    color: white;
}